<html><head></head><body data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed=""><table style="max-width:692px;" align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody><tr>
        <td style="font-size:0" bgcolor="#cccccc" height="1" colspan="3"></td>
    </tr>
    <tr>
        <td style="font-size:0" bgcolor="#cccccc" width="1"></td>
        <td>
            <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody><tr>
                    <td style="font-size:0;" height="10" colspan="3"></td>
                </tr>
                <tr>
                    <td width="10" style="font-size:0;"></td>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">

                            <tbody><tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tbody><tr>
                                            <td width="95" style="font-size:0"><img width="95" alt="" src="https://jetzyapp.com//Images/Email/V1/logo.png"></td>
                                            <td width="20" style="font-size:0"></td>
                                            <td style="border-bottom:8px solid #F90; font-family:Arial, Helvetica, sans-serif; font-size:32px;">JETZY - <span style="font-style:italic;">Travel Like a Local</span></td>
                                            <td width="40" style="font-size:0"></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td height="40" style="font-size:0"></td>
                            </tr>
                            <tr>
                                <td>

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tbody><tr>
                                            <td style="font-size:0" width="40"></td>
                                            <td>



                                                <table style="margin:0; padding:0; outline:0; width:100%;" width="100%" cellpadding="0" cellspacing="0" border="0">

                                                    <tbody><tr>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;" colspan="2">
                                                            <br>
                                                            Welcome!
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10">
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;" colspan="2">
                                                            Thank you for joining Jetzy. On Jetzy you can connect with people with similar interests and get authentic recommendations, or simply make new friends.
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10">
                                                        </td>
                                                    </tr>

  <tr>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;padding-bottom:10px;" colspan="2">
                                                            You can do the following on Jetzy:
                                                        </td>
                                                    </tr>


                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px;" align="right" valign="top">
                                                            <img style="border:none;" width="47" height="13" alt="" src="https://jetzyapp.com//Images/Email/V1/list_bg.jpg">
                                                        </td>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; color:#000000;">
                                                            Connect with like minded people who share your interests, e.g. Foodies, Beach Goers, Music Lovers, etc. All in real time, wherever you are.
                                                        </td>
                                                    </tr>
                                                    <tr><td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10"></td></tr>

                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px;" align="right" valign="top">
                                                            <img style="border:none;" width="47" height="13" alt="" src="https://jetzyapp.com//Images/Email/V1/list_bg.jpg">
                                                        </td>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; color:#000000;">
                                                            Share your photos and recommendations with fellow Jetzy users.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px;" align="right" valign="top">
                                                            <img style="border:none;" width="47" height="13" alt="" src="https://jetzyapp.com//Images/Email/V1/list_bg.jpg">
                                                        </td>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;">
                                                            See profiles and pics of who’s around you based on similar interests.
                                                        </td>
                                                    </tr>
													  <tr>
                                                        <td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px;" align="right" valign="top">
                                                            <img style="border:none;" width="47" height="13" alt="" src="https://jetzyapp.com//Images/Email/V1/list_bg.jpg">
                                                        </td>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;">
                                                            JETPOINTS! GET FREE TRAVEL AND REWARDS JUST BY USING THE APP! The more you refer friends, post images, share on other social media, and use the app, the more JetPoints you get. These points can be redeemed for trips, hotel nights, local restaurant meals, travel goods, etc.! IT'S THAT SIMPLE!
                                                        </td>
                                                    </tr>
													  <tr>
                                                        <td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="font-size:0px; line-height:0px;" align="right" valign="top">
                                                            <img style="border:none;" width="47" height="13" alt="" src="https://jetzyapp.com//Images/Email/V1/list_bg.jpg">
                                                        </td>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;">
                                                            SURPRISES GALORE! Random travel rewards will be given out all year around. No points necessary. You just have to be using the app at the right time, in the right place. We call this, "Getting Jetzy'd"! Good luck!
                                                        </td>
                                                    </tr>
                                                    <tr><td style="font-size:0px; line-height:0px; height:10px;" colspan="2" height="10"></td></tr>
                                                    <tr>
                                                        <td style="font-size:14px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:normal;color:#000000;" colspan="2">
                                                            Happy Jetzying!!
                                                        </td>
                                                    </tr>
                                                </tbody></table>






                                            </td><td style="font-size:0" width="40"></td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr><td height="10" style="font-size:0"></td></tr>
                            <tr><td align="center"><img align="" src="https://jetzyapp.com//Images/Email/V1/line.jpg"></td></tr>
                            <tr><td height="10" style="font-size:0"></td></tr>
                            <tr>
                                <td align="center">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody><tr>

                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333"><a style="text-decoration:none; color:#333" href="https://jetzyapp.com//about-the-app.html" target="_blank" rel="noopener noreferrer"> ABOUT </a></td>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333" align="center" width="30"> | </td>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333"><a style="text-decoration:none; color:#333" href="mailto:contact@jetzyapp.com" target="_blank" rel="noopener noreferrer"> CONTACT </a></td>
                                            <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333" align="center" width="30"> | </td>

                                            <td width="20" style="font-size:0"></td>
                                            <td width="40" style="font-size:0"><a href="https://instagram.com/jetzyapp" target="_blank" rel="noopener noreferrer"><img border="0" alt="" src="https://jetzyapp.com//Images/Email/V1/e_instagram.png"></a></td>
                                            <td width="40" style="font-size:0"><a href="https://www.facebook.com/jetzyapp" target="_blank" rel="noopener noreferrer"><img border="0" alt="" src="https://jetzyapp.com//Images/Email/V1/e_fb.png"></a></td>
                                            <td width="40" style="font-size:0"><a href="https://twitter.com/Jetzyapp" target="_blank" rel="noopener noreferrer"><img border="0" alt="" src="https://jetzyapp.com//Images/Email/V1/e_twitter.png"></a></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size:0"></td>
                            </tr>
                            <tr>
                                <td style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333; text-align:center;">JETZY - Travel Like a Local<br> <a style="text-decoration:none; color:#333" href="mailto:contact@jetzyapp.com" target="_blank" rel="noopener noreferrer">contact@jetzyapp.com</a></td>
                            </tr>
                            <tr>
                                <td height="10" style="font-size:0"></td>
                            </tr>

                        </tbody></table>
                    </td>
                    <td width="10" style="font-size:0;"></td>
                </tr>
                <tr>
                    <td style="font-size:0;" height="10" colspan="3"></td>
                </tr>
            </tbody></table>
        </td>
        <td style="font-size:0" bgcolor="#cccccc" width="1"></td>
    </tr>
    <tr>
        <td style="font-size:0" height="1" bgcolor="#cccccc" colspan="3"></td>
    </tr>

</tbody></table></body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>
